* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-background: #F4D04E;
    --cor-text: #111111;
    --cor-text-accent: #6b6b6b;
    --cor-card: #ffffff;

    --fonte-principal: 'Figtree', sans-serif;
    --peso-normal: 500;
    --peso-bold: 800;

    --texto-1: 800 1.5rem/1.5 'Figtree', sans-serif;
    --texto-2: 500 1rem/1.5 'Figtree', sans-serif;
    --texto-3: 500 0.875rem/1.5 'Figtree', sans-serif;
    --texto-3-bold: 800 0.875rem/1.5 'Figtree', sans-serif;
}

body {
    background-color: var(--cor-background);
    font-family: var(--fonte-principal);
    font-weight: var(--peso-normal);

    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;    
    padding: 1.25rem;
}

.card {
    background-color: var(--cor-card);
    padding: 1.5rem;
    border-radius: 1.25rem;
    width: 24rem;
    min-height: 32.625rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border: 1px solid var(--cor-text);
    box-shadow: 8px 8px 0 var(--cor-text);
    transition: 0.3s;
}

.img-principal {
    height: 12.5rem;
    width: 100%;
    object-fit: cover;
    border-radius: 0.625rem;
}

.informacoes {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    justify-content: flex-start;
}

.badge {
    font: var(--texto-3-bold);    
    padding: 0.25rem 0.75rem;
    background-color: var(--cor-background);
    border-radius: 0.25rem;
    width: auto;
    align-self: flex-start;
}

.data-publicacao {
    font: var(--texto-3);
    color: var(--cor-text);
}

.titulo-card {
    text-decoration: none;
    color: var(--cor-text);
    transition: 0.3s;
    font: var(--texto-1);
}

.descricao-card {
    font: var(--texto-2);
    color: var(--cor-text-accent);
}

.assinatura {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    width: auto;
    height: auto;
}

.img-avatar {
    height: 2rem;
    aspect-ratio: 1/1;
}

.nome-avatar {
    color: var(--cor-text);
    font: var(--texto-3-bold);
}

@media (hover: hover) {
    .titulo-card:hover {
       cursor: pointer;
       color: var(--cor-background);
    }

    .card:hover {
        box-shadow: 12px 12px 0 var(--cor-text);        
    }
}

@media (max-width: 600px) {
    .card {
        width: 20.4375rem;
    }
}